## 0. Подключаем pandas и данные для чтения, проверяем что таблица читается

In [9]:
import pandas as pd
pd.set_option('display.max_columns',None)
df = pd.read_csv('adult.data', header=None, sep=',\s+', engine='python')
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 
           'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 
           'hours_per_week', 'native_country', 'income']
df.head()

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2742395826.py:3: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv('adult.data', header=None, sep=',\s+', engine='python')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## 1. Выводим число столбцов в наборе данных

In [11]:
num_columns = df.shape[1]

print(f"Число столбцов в наборе данных: {num_columns}")

Число столбцов в наборе данных: 15

## 2. Узнаем есть ли пропуски в данных? Если есть, то в каких столбцах

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Пустых значений нет

## 3. Узнаем кол-во уникальных значений в столбце race

In [15]:
unique_races = df['race'].nunique()
print(f"Количество уникальных значений в столбце 'race': {unique_races}")

Количество уникальных значений в столбце 'race': 5

## 4. Считаем медиану hours-per-week

In [16]:
median_hpw = df['hours_per_week'].median()
print(f"Медиана: {median_hpw}")

Медиана: 40.0

## 5. Считаем кого больше - женщин или мужчин с ЗП >50K

In [17]:
high_income = df[df['income'] == '>50K']
counts = high_income['sex'].value_counts()
print(f"Количество мужчин с доходом >50K: {counts.get('Male', 0)}")
print(f"Количество женщин с доходом >50K: {counts.get('Female', 0)}")

Количество мужчин с доходом >50K: 6662
Количество женщин с доходом >50K: 1179

Количество мужчин с доходом >50K больше

## 6. Заполняем пропущенные данные в отдельных столбцах наиболее встречаемыми значениями

most_frequent= df[column].mode()[0]  - ищем самый распространенный элемент
df[column] = df[column].fillna(most_frequent_value)  - заменяем пустые значения в столбце на самое частое значение

In [20]:
for column in df.columns:
    most_frequent= df[column].mode()[0]  
    df[column] = df[column].fillna(most_frequent_value)

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски
C:\Users\semen\AppData\Local\Temp\ipykernel_1216\2863662106.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(most_frequent_value, inplace=True)  # Заполняем пропуски